
body {
	background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('../img/background.jpg');
	background-size: cover;
}

.jumbotron {
	background: none;
}

.jumbotron p {
	color: white;
}

.jumbotron h1 {
	color: red;
}